<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Melhem & Christie </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="phone-container">
        <div class="background"></div>
        <div class="form-wrapper">
            <h2>When & where</h2>
            <p>We happily invite you to celebrate our wedding on the 26th of June 2024</p>
        </div>
    
    </div>

    <audio autoplay loop>
        <source src="{% static 'audio/wed.mp3' %}" type="audio/mpeg">
    </audio>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>